*{
    scroll-behavior: smooth;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito',sans-serif !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(bottom, #FFFFFF  70%, #3B1F9E 30%);
    background-image: -o-linear-gradient(bottom,  #FFFFFF 70%, #3B1F9E 30%);
    background-image: -moz-linear-gradient(bottom,  #FFFFFF 70%, #3B1F9E 30%);
    background-image: -webkit-linear-gradient(bottom,  #FFFFFF 70%, #3B1F9E 30%);
    background-image: -ms-linear-gradient(bottom,  #FFFFFF 70%, #3B1F9E 30%);
    
    
}
h1{
    font-size: 2em !important;
    line-height: calc(33/16)em;
    color: rgba(12, 10, 90, 0.8) !important;
}
#Introduction h3{
    font-size: 2em;
    line-height: calc(33/16)em;
    font-weight: bold;
    color: #ffffff !important;
}
.btn-link{
    color: rgba(12, 10, 90, 0.8) !important;
    font-size: 0.8em !important;
    text-decoration: none !important;
}
.btn-link:hover{
    color: #3B1F9E !important;
    text-decoration: none !important;
}

.card{
    border-color: #3B1F9E !important;
}

.card-header{
    background-color: #FFFFFF !important;
    border-bottom: 1px solid #3B1F9E !important;
}
.list-inline-item a{
    color:  #828282 !important;
}
p{
    text-align: justify;
}
.disclaimer{
    text-decoration: none;
    font-size: 1.3em !important;
    color: #3B1F9E !important;

}
.disclaimer a:hover{
    color: #FFFFFF !important;
    background-color: #3B1F9E !important;
}
a:hover{
    text-decoration: none !important;
    color: orange !important;
}
.btn-primary{
    color: #3B1F9E !important;
    background-color: #ffffff !important;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold !important;
    font-size: 0.875em;
    line-height: 1.1675em;
    width: 14.1875em;
    height: 2.5em;
   
    border: 1px solid #FFFFFF !important;
    border-radius: 20px !important;
}
#Introduction{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 2%;
    
}

.navbar{
    
    background-color: #3B1F9E;
    color: #FFFFFF !important;
}
.nav-link {
    color: #FFFFFF !important;
}
.nav-link:hover{
    background-color: #FFFFFF !important;
    color: #3B1F9E !important;
}
#container{
    background-color: #FFFFFF !important;
    border: 1px solid rgba(196, 196, 196, 0.4);
    border-radius: 10px !important;
}
.navbar-dark{
    color: #FFFFFF !important;
}
@media only screen and (max-width:450px){
    body{
        text-align: center;
        background-image: linear-gradient(bottom, #FFFFFF  80%, #3B1F9E 20%);
        background-image: -o-linear-gradient(bottom,  #FFFFFF 80%, #3B1F9E 20%);
        background-image: -moz-linear-gradient(bottom,  #FFFFFF 80%, #3B1F9E 20%);
        background-image: -webkit-linear-gradient(bottom,  #FFFFFF 80%, #3B1F9E 20%);
        background-image: -ms-linear-gradient(bottom,  #FFFFFF 80%, #3B1F9E 20%);  
    }
    #Introduction h3{
        font-size: 1.5em;
    }
    #Introduction{
        margin-top:30%;
    }
    h2{
        font-size: 1em;
        text-align: center;
    }
     .section{
         margin: 0;
     }   
     
}
