h3, h5 {
    color: #3B1F9E;
    font-family: 'Nunito', sans-serif;
}

strong {
    color: #3B1F9E;
}

.disclaimer-area {
    background: #F6F8F9;
    position: relative;
    top: -11em !important;
    border-radius: .9em !important;
}

.disclaimer-area a {
    color: #3B1F9E;
    font-weight: bold;
    border: 1px solid #3B1F9E;
    padding: 0.5rem;
    border-radius: 5%;
    text-decoration: none;
}

.disclaimer-area a:hover {
    background-color: #3B1F9E;
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.main-background {
    background-color: #3B1F9E;
    height: 60vh;
}

/* .disclaimer-navbar {
    background-color: #3B1F9E;
} */

.nav-link {
    /* color: white !important; */
}

.disclaimer-text h2 {
    padding-top: 4.5em;
    font-weight: bold;
}

.updated-button {
    color: #3B1F9E !important;
    border-radius: 16px !important;
    font-weight: bold !important;
    font-size: 1em !important;
    padding: 0.4em 1.3em !important;
}

@media (max-width: 780px) and (min-width: 500px) {
    .disclaimer-area {
        background: #F6F8F9;
        position: relative;
        top: -5em !important;
        border-radius: .9em !important;
    }
}

@media (max-width: 780px) and (min-width: 500px) {
    .disclaimer-area {
        background: #F6F8F9;
        position: relative;
        top: -5em !important;
        border-radius: .9em !important;
    }
}

@media (max-width: 500px) {
    .disclaimer-area {
        background: #F6F8F9;
        position: relative;
        top: -7.5em !important;
        border-radius: .9em !important;
    }
}

@media (max-width: 1024px) and (min-width: 901px) {
    .disclaimer-area {
        background: #F6F8F9;
        position: relative;
        top: -5em !important;
        border-radius: .9em !important;
    }
}

/* @media (max-width: 1500px) and (min-width: 1025px) {
    .disclaimer-text h2 {
        padding-top: 19%;
        font-weight: bold;
    }
} */