*{
    scroll-behavior: smooth;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito' !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa !important;
    overflow-x: hidden;
    
}
#image{
    width: 150%;
     height: 150%;
}
.navbar{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    width: 100%;
}
button.navbar-toggler{
    border: none !important;
}
.navbar-toggler-icon{
    color: rgba(12, 10, 90, 0.8) !important;
    border: none !important;
}
.nav-link{
    border: none;
    border-radius: 6px; 
    padding:  0.5em 1em !important;
}
.dropdown-menu{
    border-bottom: 1px solid rgba(12, 10, 90, 0.8) !important;
}
.dropdown-menu a{
    color: #828282;
    background-color: #ffffff;
}
.dropdown-menu a:hover{
    color: #ffffff !important;
    background-color: #3B1F9E !important;
}
.nav-link ,.dropdown-item {
    color: rgba(12, 10, 90, 0.8) !important;
    font-style: normal;
    font-size: 1.2em;
    line-height: 19px;
}
.nav-link:hover{
    background-color: #3B1F9E !important;
    color: #ffffff !important;
}
a:hover{
    transition: 0.5s;
    color: #3B1F9E;
}
.top-nav-collapse {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  #footer ul{
      margin: 0 auto;
  }
  #footer a{
    margin: 0 auto;
    color:  #828282 !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
  }
  #footer a:hover{
      color: rgba(12, 10, 90, 0.8) !important;
  }